In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import postgres_path

In [2]:
brewfile = "Resources/breweries_us.csv"
brew_df = pd.read_csv(brewfile)
brew_df.head()

,brewery_name,type,address,website,state,state_breweries
0,Valley Brewing Co.,Brewpub,"PO Box 4653, Stockton, California, 95204",http://www.valleybrew.com/,california,284
1,Valley Brewing Co.,Brewpub,"157 Adams St., Stockton, California, 95204",http://www.valleybrew.com/,california,284
2,Valley Brewing Co,Microbrewery,"1950 W Freemont, Stockton, California, 95203",http://www.valleybrew.com/,california,284
3,Ukiah Brewing Company,Brewpub,"102 S. State St., Ukiah, California, 95482",http://www.ukiahbrewingco.com/,california,284
4,Tustin Brewing Co.,Brewpub,"13011 Newport Ave. #100, Tustin, California, 9...",http://www.tustinbrewery.com/,california,284

In [24]:
nybrews = brew_df.loc[brew_df['state'] == 'new-york']
nybrews

,brewery_name,type,address,website,state,state_breweries
1389,Wagner Valley Brewing Co.,Brewpub,"9322 Route 414, Lodi, New York, 14860",http://www.wagnerbrewing.com/,new-york,107
1390,Van Dyck Restaurant & Brewery,Brewpub,"237 Union St., Schenectady, New York, 12305",http://www.thevandyck.com/index_content.cfm,new-york,107
1391,Typhoon Brewery,Brewpub-Closed,"22 E. 54th St. (@ Madison), New York, New York...",...,new-york,107
1392,Troy Brewing Co.,Brewpub,"417-419 River St., Troy, New York, 12180",http://www.brownsbrewing.com/,new-york,107
1393,The Riverosa Company,ContractBrewery,"101 W. 75th St. Suite 5B, New York, New York, ...",...,new-york,107
...,...,...,...,...,...,...
1491,Bandwagon Brewing Co,Brewpub,"114 N Cayuga St. Ste 3, Ithaca, New York, 14850",http://www.bandwagonbeer.com/,new-york,107
1492,Atlantic Brewing Company (NY),Brewpub-Closed,"4556 Austin Blvd., Island Park, New York, 11558",...,new-york,107
1493,Anheuser-Busch Inc. - Baldwinsville,Microbrewery,"2885 Belgium Rd, Baldwinsville, New York, 13027",http://www.anheuser-busch.com/,new-york,107
1494,Adirondack Pub & Brewery,Brewpub,"212 W. 79th St., New York, New York, 10024",http://www.adkpub.com/,new-york,107
1495,A.J. Gordon's Brewing Co.,Brewpub-Closed,"33 Canada St., Lake George, New York, 12845",...,new-york,107

In [25]:
nybrews = nybrews[['brewery_name', 'address']]
nybrews = nybrews.reset_index(drop=True)
nybrews

,brewery_name,address
0,Wagner Valley Brewing Co.,"9322 Route 414, Lodi, New York, 14860"
1,Van Dyck Restaurant & Brewery,"237 Union St., Schenectady, New York, 12305"
2,Typhoon Brewery,"22 E. 54th St. (@ Madison), New York, New York..."
3,Troy Brewing Co.,"417-419 River St., Troy, New York, 12180"
4,The Riverosa Company,"101 W. 75th St. Suite 5B, New York, New York, ..."
...,...,...
102,Bandwagon Brewing Co,"114 N Cayuga St. Ste 3, Ithaca, New York, 14850"
103,Atlantic Brewing Company (NY),"4556 Austin Blvd., Island Park, New York, 11558"
104,Anheuser-Busch Inc. - Baldwinsville,"2885 Belgium Rd, Baldwinsville, New York, 13027"
105,Adirondack Pub & Brewery,"212 W. 79th St., New York, New York, 10024"
106,A.J. Gordon's Brewing Co.,"33 Canada St., Lake George, New York, 12845"

In [30]:
nybrews['town']=''
nybrews['city']=''
nybrews['zip_code']=''
nybrews_split = nybrews['address'].str.split(',', expand=True)
nybrews_split['brewery_name']=nybrews['brewery_name']
nybrews_split = nybrews_split.rename(columns={0:'address',1:'town',2:'city',3:'zip_code'})
nybrews_split

,address,town,city,zip_code,4,brewery_name
0,9322 Route 414,Lodi,New York,14860,None,Wagner Valley Brewing Co.
1,237 Union St.,Schenectady,New York,12305,None,Van Dyck Restaurant & Brewery
2,22 E. 54th St. (@ Madison),New York,New York,10022,None,Typhoon Brewery
3,417-419 River St.,Troy,New York,12180,None,Troy Brewing Co.
4,101 W. 75th St. Suite 5B,New York,New York,10023,None,The Riverosa Company
...,...,...,...,...,...,...
102,114 N Cayuga St. Ste 3,Ithaca,New York,14850,None,Bandwagon Brewing Co
103,4556 Austin Blvd.,Island Park,New York,11558,None,Atlantic Brewing Company (NY)
104,2885 Belgium Rd,Baldwinsville,New York,13027,None,Anheuser-Busch Inc. - Baldwinsville
105,212 W. 79th St.,New York,New York,10024,None,Adirondack Pub & Brewery
106,33 Canada St.,Lake George,New York,12845,None,A.J. Gordon's Brewing Co.

In [31]:
nybrews_df = nybrews_split[['brewery_name', 'address', 'town', 'zip_code']]
nybrews_df

,brewery_name,address,town,zip_code
0,Wagner Valley Brewing Co.,9322 Route 414,Lodi,14860
1,Van Dyck Restaurant & Brewery,237 Union St.,Schenectady,12305
2,Typhoon Brewery,22 E. 54th St. (@ Madison),New York,10022
3,Troy Brewing Co.,417-419 River St.,Troy,12180
4,The Riverosa Company,101 W. 75th St. Suite 5B,New York,10023
...,...,...,...,...
102,Bandwagon Brewing Co,114 N Cayuga St. Ste 3,Ithaca,14850
103,Atlantic Brewing Company (NY),4556 Austin Blvd.,Island Park,11558
104,Anheuser-Busch Inc. - Baldwinsville,2885 Belgium Rd,Baldwinsville,13027
105,Adirondack Pub & Brewery,212 W. 79th St.,New York,10024
106,A.J. Gordon's Brewing Co.,33 Canada St.,Lake George,12845

In [32]:
nybrews_df.to_csv('nybrews.csv')

In [33]:
engine = create_engine(f'postgresql://{postgres_path}')

In [35]:
nybrews_df.to_sql(name='ny_breweries', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from ny_breweries', con=engine).head()

,brewery_name,address,town,zip_code
0,Wagner Valley Brewing Co.,9322 Route 414,Lodi,14860
1,Van Dyck Restaurant & Brewery,237 Union St.,Schenectady,12305
2,Typhoon Brewery,22 E. 54th St. (@ Madison),New York,10022
3,Troy Brewing Co.,417-419 River St.,Troy,12180
4,The Riverosa Company,101 W. 75th St. Suite 5B,New York,10023